// Base
$base-font-stack: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size: 62.5%; //equiv 10px used as base for logical rem values. eg. 14px = 1.4rem etc.

// Font size
$seek-font-tiny:      1.0rem;
$seek-font-small:     1.4rem;
$seek-font-standard:  1.6rem;
$seek-font-large:     2.1rem;

// Font weight
$seek-font-weight-light:   300;
$seek-font-weight-regular: 400;