// base colours
$seek-pink:            #fd0585;

// element colours
$seek-link:             #0061C3;
$seek-focus:            #1e90ff;
$seek-error:            #d0021b;
$seek-danger:           #d0021b;
$seek-warning:          #FFA500;

// greys
$seek-black:            #212121;
$seek-charcoal:         #404040;
$seek-mid-grey-dark:    #747474; //Lightest text colour allowed on white bg
$seek-mid-grey-medium:  #898989;
$seek-mid-grey:         #a8a8a8;
$seek-mid-grey-light:   #d6d6d6;
$seek-grey-light:       #eeeeee;
$seek-light-grey-dark:  #e1e1e1;
$seek-grey-lightest:    #f7f7f7;
$seek-off-white:        #fbfbfb;
$seek-white:            #ffffff;