@import '../../theme/theme';

.insideCard {
  font-weight: $seek-font-weight-light;
  font-size: $seek-font-small;
}

.outsideCard {
  font-weight: $seek-font-weight-light;
  font-size: $seek-font-small;

  padding: 0 $small-device-padding 0 $small-device-padding;

  @media screen and (min-width: $form-grow-max-width) {
    padding-left: $medium-device-padding;
    padding-right: $medium-device-padding;
  }
}

.extraTopMargin {
  margin-top: $grid-row-height * 3;
}